Name : varaliya mohammed

Roll no : F115

In [ ]:
import datetime
today = datetime.date.today()
new_year = datetime.date(2019, 1, 1)
print(new_year)

import datetime
today = datetime.date.today()
new_year = datetime.date(2001, 2, 25)
print(new_year)

2019-01-01
2001-02-25

In [ ]:
import datetime
#Time object
noon = datetime.time(12, 0, 0)
print(noon)

import datetime
#Time object
noon = datetime.time(9, 6, 3)
print(noon)

12:00:00
09:06:03

In [ ]:
import datetime
# Current datetime
now = datetime.datetime.now()
print(now)
 
 
import datetime
# Current datetime
tommorrow = datetime.datetime.now()
print(tommorrow)

2022-02-15 10:50:15.625306
2022-02-15 10:50:15.626973

In [ ]:
import datetime
# Datetime object
millenium_turn = datetime.datetime(2019, 1, 1, 0, 0, 0)
print(millenium_turn) 
 
import datetime
# Datetime object
millenium_turn = datetime.datetime(2016, 1, 1, 6, 7, 1)
print(millenium_turn)

2019-01-01 00:00:00
2016-01-01 06:07:01

In [ ]:
import datetime

# The size of each step in days
day_delta = datetime.timedelta(days=2)
 
start_date = datetime.date.today()
end_date = start_date + 7*day_delta
 
for i in range((end_date - start_date).days):
    print(start_date + i*day_delta)
 
import datetime
 
# The size of each step in days
day_delta = datetime.timedelta(days=1)
 
start_date = datetime.date.today()
end_date = start_date + 30*day_delta
 
for i in range((end_date - start_date).days):
    print(start_date + i*day_delta)

2022-02-15
2022-02-17
2022-02-19
2022-02-21
2022-02-23
2022-02-25
2022-02-27
2022-03-01
2022-03-03
2022-03-05
2022-03-07
2022-03-09
2022-03-11
2022-03-13
2022-02-15
2022-02-16
2022-02-17
2022-02-18
2022-02-19
2022-02-20
2022-02-21
2022-02-22
2022-02-23
2022-02-24
2022-02-25
2022-02-26
2022-02-27
2022-02-28
2022-03-01
2022-03-02
2022-03-03
2022-03-04
2022-03-05
2022-03-06
2022-03-07
2022-03-08
2022-03-09
2022-03-10
2022-03-11
2022-03-12
2022-03-13
2022-03-14
2022-03-15
2022-03-16

In [ ]:
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2015, 5, 23)
print(then)
 
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2019, 2, 25)
print(then)

2015-05-23 00:00:00
2019-02-25 00:00:00

In [ ]:
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2019, 5, 23)
delta = now-then
print(delta)
 
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2020, 3, 3)
delta = now-then
print(delta)

999 days, 10:50:15.716564
714 days, 10:50:15.718692

In [ ]:
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2019, 5, 23)
delta = now-then
print(delta.days)
# 60
print(delta.seconds)
# 40826
 
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2017, 3, 18)
delta = now-then
print(delta.days)
# 60
print(delta.seconds)
# 40826

999
39015
1795
39015

In [ ]:
from datetime import date, timedelta
current_date = date.today().isoformat()   
days_after = (date.today()+timedelta(days=30)).isoformat()  
print("\nCurrent Date: ",current_date)
print("30 days after current date : ",days_after)
 
from datetime import date, timedelta
current_date = date.today().isoformat()   
days_after = (date.today()+timedelta(days=20)).isoformat()  
print("\nCurrent Date: ",current_date)
print("20 days after current date : ",days_after)

Current Date:  2022-02-15
30 days after current date :  2022-03-17

Current Date:  2022-02-15
20 days after current date :  2022-03-07

In [ ]:
from datetime import date, timedelta
 
current_date = date.today().isoformat()   
days_before = (date.today()-timedelta(days=30)).isoformat()
 
print("\nCurrent Date: ",current_date)
print("30 days before current date: ",days_before)
 
from datetime import date, timedelta
 
current_date = date.today().isoformat()   
days_before = (date.today()-timedelta(days=15)).isoformat()
 
print("\nCurrent Date: ",current_date)
print("15 days before current date: ",days_before)

Current Date:  2022-02-15
30 days before current date:  2022-01-16

Current Date:  2022-02-15
15 days before current date:  2022-01-31

In [ ]:
import time
from datetime import datetime
seconds_since_epoch=time.time()  #1469182681.709

utc_date=datetime.utcfromtimestamp(seconds_since_epoch)
print(utc_date)

2022-02-15 10:50:15.796150

In [ ]:
import datetime
today = datetime.date.today()
print('Today:', today)

yesterday = today - datetime.timedelta(days=1)
print('Yesterday:', yesterday)

tomorrow = today + datetime.timedelta(days=1)
print('Tomorrow:', tomorrow)

print('Time between tomorrow and yesterday:', tomorrow - yesterday)

Today: 2022-02-15
Yesterday: 2022-02-14
Tomorrow: 2022-02-16
Time between tomorrow and yesterday: 2 days, 0:00:00

In [ ]:
import calendar
from datetime import date
 
def monthdelta(date, delta):
    m, y = (date.month+delta) % 12, date.year + ((date.month)+delta-1) // 12
    if not m: m = 12
    d = min(date.day, calendar.monthrange(y, m)[1])
    return date.replace(day=d,month=m, year=y)
 
next_month = monthdelta(date.today(), 1) #datetime.date(2019, 10, 23)
print(next_month)
 
import calendar
from datetime import date
 
def monthdelta(date, delta):
    m, y = (date.month+delta) % 6, date.year + ((date.month)+delta-1) // 6
    if not m: m = 6
    d = min(date.day, calendar.monthrange(y, m)[1])
    return date.replace(day=d,month=m, year=y)
 
next_month = monthdelta(date.today(), 1) #datetime.date(2004, 2, 25)
print(next_month)

2022-03-15
2022-03-15

In [ ]:
import datetime
import dateutil.relativedelta
d = datetime.datetime.strptime("2019-03-31", "%Y-%m-%d")
d2 = d - dateutil.relativedelta.relativedelta(months=1)  

#datetime.datetime(2019, 2, 28, 0, 0)
print(d2)

2019-02-28 00:00:00

In [ ]:
from datetime import datetime
from dateutil import tz
utc = tz.tzutc()
local = tz.tzlocal()
utc_now = datetime.utcnow()
utc_now 
# Not timezone-aware.
utc_now = utc_now.replace(tzinfo=utc)
utc_now 
# Timezone-aware.
local_now = utc_now.astimezone(local)
local_now 
# Converted to local time.
print(local_now)

2022-02-15 10:50:15.880439+00:00

In [ ]:
from dateutil.parser import parse
dt = parse("Today is January 1, 2019 at 8:21:00AM", fuzzy=True)
print(dt)

from dateutil.parser import parse
dt = parse("Today is February 25, 2022 at 12:00AM", fuzzy=True)
print(dt)

2019-01-01 08:21:00
2022-02-25 00:00:00

In [ ]:
from datetime import datetime
print (datetime.now().isoformat())

from datetime import datetime
print (datetime.today().isoformat())

2022-02-15T10:50:15.909155
2022-02-15T10:50:15.909410

In [ ]:
from datetime import datetime
print (datetime.now().isoformat())

2022-02-15T10:50:15.917737

In [ ]:
from datetime import datetime
from dateutil.tz import tzlocal
print (datetime.now(tzlocal()).replace(microsecond=0).isoformat())

from datetime import datetime
from dateutil.tz import tzlocal
print (datetime.now(tzlocal()).replace(microsecond=1).isoformat())

2022-02-15T10:50:15+00:00
2022-02-15T10:50:15.000001+00:00

In [ ]:
from dateutil import tz
from dateutil.parser import parse
ET = tz.gettz('US/Eastern')
CT = tz.gettz('US/Central')
MT = tz.gettz('US/Mountain')
PT = tz.gettz('US/Pacific')
us_tzinfos = {'CST': CT, 'CDT': CT,
              'EST': ET, 'EDT': ET,
              'MST': MT, 'MDT': MT,
              'PST': PT, 'PDT': PT}
dt_est = parse('2018-1-2 04:00:00 EST', tzinfos=us_tzinfos)
dt_pst = parse('2019-3-11 16:00:00 PST', tzinfos=us_tzinfos)
print (dt_est)
print (dt_pst)


from dateutil import tz
from dateutil.parser import parse
ET = tz.gettz('US/Eastern')
CT = tz.gettz('US/Central')
MT = tz.gettz('US/Mountain')
PT = tz.gettz('US/Pacific')
us_tzinfos = {'CST': CT, 'CDT': CT,
              'EST': ET, 'EDT': ET,
              'MST': MT, 'MDT': MT,
              'PST': PT, 'PDT': PT}
dt_est = parse('2014-1-2 04:00:00 EST', tzinfos=us_tzinfos)
dt_pst = parse('2016-3-11 16:00:00 PST', tzinfos=us_tzinfos)
print (dt_est)
print (dt_pst)

2018-01-02 04:00:00-05:00
2019-03-11 16:00:00-07:00
2014-01-02 04:00:00-05:00
2016-03-11 16:00:00-08:00

In [ ]:
import datetime
print (str(datetime.datetime(2019, 7, 22, 9, 25, 59, 555555)))

2019-07-22 09:25:59.555555

In [ ]:
import datetime
print(str(datetime.datetime(2019, 7, 22, 9, 25, 59, 0)))

2019-07-22 09:25:59

In [ ]:
import datetime
dt = datetime.datetime.strptime("2019-04-15T08:27:18-0500", "%Y-%m-%dT%H:%M:%S%z")
print(dt)

2019-04-15 08:27:18-05:00

In [ ]:
from datetime import datetime, timedelta, timezone
JST = timezone(timedelta(hours=+9))

dt = datetime(2019, 1, 1, 12, 0, 0, tzinfo=JST)
print(dt)# 2019-01-01 12:00:00+09:00

print(dt.tzname())
# UTC+09:00
dt = datetime(2019, 1, 1, 12, 0, 0, tzinfo=timezone(timedelta(hours=9), 'JST'))
print(dt.tzname)
# 'JST'

2019-01-01 12:00:00+09:00
UTC+09:00
<built-in method tzname of datetime.datetime object at 0x7fed8da15120>

In [ ]:
from datetime import datetime
from dateutil import tz
local = tz.gettz() # Local time
PT = tz.gettz('US/Pacific') # Pacific time

dt_l = datetime(2019, 1, 1, 12, tzinfo=local) # I am in EST
dt_pst = datetime(2019, 1, 1, 12, tzinfo=PT)
dt_pdt = datetime(2019, 7, 1, 12, tzinfo=PT) # DST is handled automatically
print(dt_l)# 2019-01-01 12:00:00-05:00
print(dt_pst)# 2019-01-01 12:00:00-08:00
print(dt_pdt)# 2019-07-01 12:00:00-07:00

2019-01-01 12:00:00+00:00
2019-01-01 12:00:00-08:00
2019-07-01 12:00:00-07:00

Thank you